{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
    <link href="{% static 'css/test.css' %}" rel="stylesheet" />
</head>
<body>
    {% block form %}
    <section name="form"> <h2>Send Message</h2>
        <form id="form" method="POST" action="{% url 'lab_1:add_message' %}">
            {% csrf_token %}
            {{ message_form }}
            <br>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </section>
    {% endblock %}
</body>
</html>
